{% extends 'layout.njk' %}

{% block title %}
    <title>Foodfy | 404</title>
{% endblock %}

{% block content %}

    <div class="not-container">
        <img id='not' src="https://svgsilh.com/svg_v2/151788.svg" alt="Not Found Image">
        <div class="not-text">
            <h1>404</h1>
            <h2>Página não encontrada</h2>
        </div>
    </div>

{% endblock %}