{% extends './layout.njk' %}

{% block content %}

    <div class="box-index-container">
        <div class="index-text-box">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="index-image-box">
            <img src="../../assets/chef.png" alt="Chef Image">
        </div>
    </div>

    <div class="index-title">
        <h2>Mais acessadas</h2>
    </div>

    <div class="recipes-index">
        {% include './parts/recipe.njk' %}
        {% include './parts/recipe.njk' %}
        {% include './parts/recipe.njk' %}
        {% include './parts/recipe.njk' %}
        {% include './parts/recipe.njk' %}
        {% include './parts/recipe.njk' %}
    </div>

{% endblock %}