{% extends 'layout.njk' %}

{% block title %}
    <title>Foodfy | 404</title>
{% endblock %}

{% block content %}

    <div class="not-container">
        <img id='not' src="./assets/not_found.jpg" alt="Not Found Image">
        <div class="not-text">
            <h1>404</h1>
            <h2>Página não encontrada</h2>
        </div>
    </div>

{% endblock %}

<!--<a href="https://www.freepik.com/free-photos-vectors/background">Background vector created by freepik - www.freepik.com</a> -->
