@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

:root {
    --primary-color: #9159c1;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links {
    font-size: 22px;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: #777;
    position: relative;
}

.links a.active {
    font-weight: bold;
    color: var(--primary-color);
}

.links a:hover {
    color: var(--primary-color);
}

.links a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -4px;
}

.links a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out;
}

/* === CARD === */
.card {
    background-color: white;
    width: 800px;
    height: 400px;
    margin: 45px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;

    /* sombra */
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);

    /* animation */
    animation-name: up; /* up == nome da animacao */
    animation-duration: 200ms; /* animation time */
    animation-timing-function: ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(15px)
    }
    to
    {
        opacity: 1;
    }
}