{% extends '../layout.njk' %}

{% block head %}
    <title>Foodyfy | Nova receita</title>
{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="admin-subheader">
            <div class="admin-page-title">
                <h1>Criando nova receita</h1>
            </div>
        </div>

        <form action="">
            <a href="" class="save-button">Salvar receita</a>
            {% include "./fields.njk" %}
        </form>
    </div>
{% endblock %}