<div class="admin-recipes-photos-preview">
    <div class="photo-box">
        <a href="">
            <i class="material-icons">add</i>
        </a>
    </div>

    <div class="photo-box">
        <a href="">
           <img src="../../assets/burger.png" alt="burger photo">
        </a>
    </div>

    <div class="photo-box">
        <a href="">
           <img src="../../assets/chef.png" alt="burger photo">
        </a>
    </div>

    <div class="photo-box">
        <a href="">
           <img src="../../assets/logo.png" alt="burger photo">
        </a>
    </div>

    <div class="photo-box">
        <a href="">
           <img src="../../assets/burger.png" alt="burger photo">
        </a>
    </div>

    <div class="photo-box">
        <a href="">
           <img src="../../assets/burger.png" alt="burger photo">
        </a>
    </div>
</div>

<div class="fields-input">
    <div class="input-item">
        <h1>Chef</h1>
        <input 
            type="text">
    </div>

     <div class="input-item">
        <h1>Ingredients</h1>
        <input 
            type="text">
        <a class="add-component">Adicionar ingrediente</a>
    </div>

    <div class="input-item">
        <h1>Preparo</h1>
        <input 
            type="text">
        <a class="add-component">Adicionar preparo</a>
    </div>

    <div class="input-item">
        <h1>Informações adicionais</h1>
        <textarea 
            name=""></textarea>
    </div>

</div>
