<header>
        <div class="logo">
            <a href="/">
                <img src="../../../assets/logo.png" alt="Foodfy Logo">
            </a>
        </div>

        <div class="links">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
            <a href="/chefs">Chefs</a>
            <a href="/users/login">Entrar</a>
        </div>

        {% if showSearch %}
            <div class="search-recipe">
                {% block search %}
                    {% include './search.njk' %}
                {% endblock %}
            </div>
        {% endif %}
</header>