<!DOCTYPE html>
<html>
    <head>
        <title>Foodfy | Recuperar senha</title>
        {% include './styles.njk' %}
    </head>
    <body>
        {% include './parts/messages.njk' %}

        <div class="container">
            <form action="/admin/password-reset" method='POST'>
                <div class="session recover">
                    <div class="recover-container">

                        <div class="logo">
                            <a href="/">
                                <img src="../../../assets/logo.png" alt="Foodfy Logo">
                            </a>
                        </div>

                        <div class="title">
                            <h1>Nova Senha</h1>
                        </div>

                        <div class="item">
                            <h3>Email</h3>
                            <input 
                                type="email" 
                                name="email" 
                                placeholder='Digite seu email' 
                                value="{{user.email}}" 
                                onblur="ValidateEmail.apply(this, 'isEmail')">
                        </div>

                        <div class="item">
                            <h3>Nova senha</h3>
                            <input 
                                type="password" 
                                name="password" 
                                placeholder='Digite sua nova senha'>
                        </div>

                        <div class="item">
                            <h3>Repetir senha</h3>
                            <input 
                                type="password" 
                                name="passwordRepeat" 
                                placeholder='Repita sua nova senha'>
                        </div>

                        <div class="footer-recover">
                            <button type='submit' id="recover">Nova senha</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {% include './scripts.njk' %}
    </body>
</html>