.session-login {
    width: 300px;
    margin: 100px auto;

    text-align: center;

}

.session-login .logo a {
    cursor: pointer;
    padding: 20px;
}

.session-login .title {
    margin-top: 40px;
}

.session-login .item {
    text-align: left;
    margin-top: 10px;
}

.session-login .item h3 {
    margin-bottom: 4px;
}

.session-login .footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
