@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');


:root {
    --orange-color: #fe5f55;
    --blue-color: rgb(18, 52, 89);
    --purple-color: #a0238f;
    --cream-color: #f7fff7;
    --yellow-color: #eef5db;
    --golden-color: rgb(255, 217, 0);

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    background: var(--blue-color);
    width: 100%;
    height: 100px;
    padding: 32px;
    box-shadow: 0px 10px var(--orange-color);
    box-sizing: border-box;
}

.links {
    text-align: center;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
}

.links a.active {
    color: var(--yellow-color);
}

.links a:hover {
    color: var(--orange-color);
}

.links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: white;
}

.links a:hover::after {
    width: 100%;
    background-color: var(--orange-color);
    transition: all 700ms cubic-bezier(0.42, 0, 1.0, 1.0);
}

.links a + a{
    margin-left: 32px;
}

.card {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
    height: 550px;
    border: 1px solid var(--blue-color);
    box-shadow: 5px 6px 3px 0px rgba(18, 52, 89, 0.5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    color: var(--blue-color);

    animation-name: up;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
    }
}

.card img {
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 20px;
}

.introduction {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 5px;
    position: absolute;
    bottom: 15px;
}

.introduction h3 {
    font-size: 16px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.introduction p {
    text-align: justify;
    background: rgba(18, 52, 89, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 79%;
    min-height: 200px;
    min-width: 240px;
}

.personal_info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;;
}

.item {
    margin-top: 10px;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    width: 90%;
}

.item h3 {
    background: rgba(18, 52, 89, 0.1);
    max-width: 100%;
    padding-left: 10px;
}

.item div:nth-child(2) {
    padding-left: 10px;
}

.item .info {
    padding: 5px;
}


span {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;  
    margin: 0 auto;
    max-width: 90%;
}

span div {
    background: var(--orange-color);
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px;
}

/* ==== CREATE.NJK ===== */
input {
    outline: none;
}


textarea {
    border: 1px solid rgba(18, 52, 89, 0.5);
}

.item input{
    padding: 5px;
    width: 90%;
}

select,
input,
input::placeholder{
    font-size: 12px;
    color: var(--blue-color);
}

.gender div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gender input[type="radio"]{
    width: initial;
    margin: 5px auto;
}

.gender span {
    color: var(--blue-color);
}

.save {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.save p{
    font-size: 12px;
    position: absolute;
    max-width: 90%;
    top: -35px;
}

.form-delete button,
.button,
.save button {
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    background: var(--orange-color);
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    right: 30px;
    text-decoration: none;
}

.create button{
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    background: var(--orange-color);
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: -50px;
    right: 30px;
    text-decoration: none;
}

.button:hover,
.save button:hover{
    background: #ff5100;
}

.edit-button {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.form-delete button {
    background-color: red;
}

.form-delete button:hover{
    background: rgb(192, 41, 41);
}

/*=== EDIT ====*/
.form-edit .personal_info{
    position: absolute;
    right: 0;
    top: 0;
}

.form-edit .save{
    position: absolute;
    bottom: 0;
    right: 100px;
}

/* INDEX TEACHERS */
.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

table {
    width: 100%;
}

.table-container table {
    border-spacing: 0;
    text-align: left;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid rgba(18, 52, 89, 0.3);
}

th {
    text-transform: uppercase;
    color: rgba(18, 52, 89, 0.8);
    font-weight: normal;
}

tbody td:first-child{
    display: grid;
    grid-template-columns: 60px 1fr;
}

tbody td:first-child span {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 5px 4px 5px -4px rgba(18, 52, 89, 1);
}

tbody tr:last-child td {
    border-bottom: none;
}

.table-container a,
tbody a {
    text-decoration: none;
    color: white;
    background-color: var(--orange-color);
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bolder;
}

.table-container a:hover,
tbody a:hover{
    background-color: rgb(255, 51, 0);
}

.create a {
    background-color: var(--purple-color);
    color: white;
    margin-bottom: 30px;
}

.create a:hover{
    background-color: #6e1162;
}

/*=== FILTERS ===*/
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header input {
    width: 180px;
    height: 35px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.header input:focus{
    border: 1px solid rgb(18, 52, 89);
}

.header input::placeholder{
    color: rgba(18, 52, 89, 0.4);
}

.header button{
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(18, 52, 89, 0.5);
    color: white;
    padding: 6px 10px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}

.header button:hover{
    background-color: rgba(18, 52, 89, 0.9);
}