@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');


:root {
    --orange-color: #fe5f55;
    --blue-color: rgb(18, 52, 89);
    --purple-color: #420039;
    --cream-color: #f7fff7;
    --gold-color: #eef5db;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    background: var(--blue-color);
    width: 100%;
    height: 100px;
    padding: 32px;
    box-shadow: 0px 10px var(--orange-color);
    box-sizing: border-box;
}

.links {
    text-align: center;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
}

.links a.active {
    color: var(--gold-color);
}

.links a:hover {
    color: var(--orange-color);
}

.links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: white;
}

.links a:hover::after {
    width: 100%;
    background-color: var(--orange-color);
    transition: all 700ms cubic-bezier(0.42, 0, 1.0, 1.0);
}

.links a + a{
    margin-left: 32px;
}

.card {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
    height: 500px;
    border: 1px solid var(--blue-color);
    box-shadow: 5px 6px 3px 0px rgba(18, 52, 89, 0.5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    color: var(--blue-color);
}

.card img {
    width: 250px;
    height: 250px;
    padding: 5px;
    border-top-left-radius: 20px;
}

.introduction {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 5px;
    position: absolute;
    bottom: 15px;
}

.introduction h3 {
    font-size: 16px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.introduction p {
    text-align: justify;
    background: rgba(18, 52, 89, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 79%;
}

.personal_info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;;
}

.item {
    margin-top: 20px;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    width: 90%;
    padding: 12px;
}