@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');


:root {
    --orange-color: #fe5f55;
    --blue-color: rgb(18, 52, 89);
    --purple-color: #420039;
    --cream-color: #f7fff7;
    --yellow-color: #eef5db;
    --golden-color: rgb(255, 217, 0);

}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
}

header {
    background: var(--blue-color);
    width: 100%;
    height: 100px;
    padding: 32px;
    box-shadow: 0px 10px var(--orange-color);
    box-sizing: border-box;
}

.links {
    text-align: center;
}

.links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    position: relative;
}

.links a.active {
    color: var(--yellow-color);
}

.links a:hover {
    color: var(--orange-color);
}

.links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: white;
}

.links a:hover::after {
    width: 100%;
    background-color: var(--orange-color);
    transition: all 700ms cubic-bezier(0.42, 0, 1.0, 1.0);
}

.links a + a{
    margin-left: 32px;
}

.card {
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 600px;
    height: 500px;
    border: 1px solid var(--blue-color);
    box-shadow: 5px 6px 3px 0px rgba(18, 52, 89, 0.5);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    color: var(--blue-color);

    animation-name: up;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

@keyframes up {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
    }
}

.card img {
    width: 250px;
    height: 250px;
    padding: 5px;
    border-radius: 20px;
}

.introduction {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 5px;
    position: absolute;
    bottom: 15px;
}

.introduction h3 {
    font-size: 16px;
    margin-left: 10px;
    padding-bottom: 10px;
}

.introduction p {
    text-align: justify;
    background: rgba(18, 52, 89, 0.1);
    padding: 10px;
    border-radius: 10px;
    width: 79%;
}

.personal_info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;;
}

.item {
    margin-top: 10px;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    width: 90%;
}

.item h3 {
    background: rgba(18, 52, 89, 0.1);
    max-width: 100%;
    padding-left: 10px;
}

.item div:nth-child(2) {
    padding-left: 10px;
}

.item .info {
    padding: 5px;
}


span {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;  
    margin: 0 auto;
    max-width: 90%;
}

span div {
    background: var(--orange-color);
    border-radius: 5px;
    padding: 3px;
    margin: 5px 5px;
}

/* ==== CREATE.NJK ===== */
input {
    outline: none;
}


.introduction input {

}

textarea {
    border: 1px solid rgba(18, 52, 89, 0.5);
}

.item input{
    padding: 5px;
    width: 90%;
}

select,
input,
input::placeholder{
    font-size: 12px;
    color: var(--blue-color);
}

.gender div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gender input[type="radio"]{
    width: initial;
    margin: 5px auto;
}

.gender span {
    color: var(--blue-color);
}

.save {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
}

.save p{
    font-size: 12px;
    position: absolute;
    max-width: 90%;
    top: -35px;
}

.save button {
    font-size: 20px;
    font-weight: bolder;
    padding: 5px 10px;
    background: var(--orange-color);
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 15px;
    right: 30px;
}

.save button:hover{
    background: #ff5100;
}
