{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Chef</title>
{% endblock %}

{% block content %}
    
    <div class="chef_avatar">
        <img src="{{chef.photo}}" alt="Foto de {{chef.name}}">
    </div>

    <div class="chef_info">
        <h2>{{chef.name}}</h2>
        <p>{{chef.total_recipes}} receitas</p>
    </div>

    <div class="chef_recipes">

        <div class="index-title">
            <h2>Receitas por {{chef.name}}</h2>
        </div>

    </div>
{% endblock %}