<div class="session">
    <div class="login">

        <div class="logo">
            <a href="/">
                <img src="../../../assets/logo.png" alt="Foodfy Logo">
            </a>
        </div>

        <div class="title">
            <h1>Iniciar Sessão</h1>
        </div>

        <div class="item">
            <h3>Email</h3>
            <input 
                type="email" 
                name="email"
                placeholder='Digite seu email'
                value="{{user.email}}"
                onblur="ValidateEmail.apply(this, 'isEmail')">
        </div>

        <div class="item">
            <h3>Senha</h3>
            <input 
                type="password" 
                name="password"
                placeholder='Digite sua senha'>
        </div>

        <div class="footer">
            <a href="/admin/recover-password">Perdeu a senha?</a>
            <button type='submit'>Acessar</button>
        </div>
    </div>
</div>