<div class="title">
    <h1>Esqueceu a senha?</h1>
</div>

<div class="item">
    <h3>Email</h3>
    <input type="email" name="email" placeholder='Digite seu email para recuperar sua senha' value="{{user.email}}" onblur="ValidateEmail.apply(this, 'isEmail')">
</div>

<div class="footer-recover">
    <button type='submit' id="recover">Recuperar</button>
</div>
