<!DOCTYPE html>
<html>
    <head>
        <title>RentCars.com</title>
    </head>

    <body>

        <header>
            
        </header>

        {% block content %}
        {% endblock %}
    </body>

</html>
