@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap";

@import "https://fonts.googleapis.com/css?family=PT+Serif&display=swap";

:root {
    --color-gray_1: rgb(68, 68, 68);
    --color-gray_2: rgb(82, 82, 82);
}

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0 auto;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: var(--color-gray_1);
}

header nav {
    position: absolute;
    left: 14%;
    display: inline-block;
    top: 20px;
}

header .logo-img {
    display: inline-block;
    padding-right: 20px;
}

header a {
    text-decoration: none;
    padding-right: 10px;
    color: var(--color-gray_1);
}

header .header_box {
    position: absolute;
    left: 14%;
    top: 60px;
    right: 14%;
}

header .box {
    position: relative;
    background-color: rgb(255, 223, 219);
    border-radius: 15px;
    height: 336px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header .title {
    max-width: 90%;
    text-align: center;
    margin-top: 25%;
    color: var(--color-gray_1);    
}

header .description_website {
    position: absolute;
    top: 50%;
    left: 6%;
    right: 60%;
    color: var(--color-gray_1);  
}

header .logo {
    max-width: 90%;
    position: absolute;
    left: 60%;
    right: 20%;
    bottom: 0;
}

.recipes {
    position: absolute;
    max-width: 72%;
    width: 100%;
    height: 400px;
    left: 14%;
    top: 419px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.recipe {
    text-align: left;
}

.recipe:hover {
    filter: contrast(125%);
    filter: brightness(125%);
}

.recipe img {
    max-width: 100%;
    border-radius: 15px;
    height: 16vh;
}


.recipe-description {
    font-size: 9px;
    font-weight: 19px;
    color: rgb(54, 54, 54);
}

.recipe-author h2{
    color: var(--color-gray_2);
    font-size: 14px;
    font-weight: lighter;
    padding-top: 2px;
}

footer {
    position: absolute;
    top: 150vh;
    width: 100%;
    height: 50px;
    background: rgb(163, 163, 163);
  }

footer p {
    text-align: center;
    margin: 16px auto;
    font-size: 14px;
    color: rgb(114, 114, 114);
}

/* === RECIPES PAGE === */
.recipe-complete {
    position: absolute;
    top: 70px;
    left: 14%;
    right: 14%;
}

.recipe-complete img {
    height: 300px;
    border-radius: 15px;
    max-width: 100%;
}

.recipe-complete h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 42px;
    margin-top: 20px;
}

.recipe-complete h2 {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

.subtitle-head {
    display: flex;
    padding-top: 20px;
}

.subtitle-title {
    font-size: 18px;
    font-weight: bolder;
}

.subtitle-option {
    margin-left: 12px;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(151, 151, 151);
}

.subtitle-option a:hover {
    cursor: pointer;
    color: rgb(82, 82, 82);
}

.wrapper {
    font-size: 16px;
    margin-left: 21px;
    padding-top: 20px;
}

.wrapper p {
    position: relative;
    left: -20px;
}

/* ==== ABOUT ==== */
.about-wrapper {
    max-width: 72%;
    text-align: justify;
    margin-top: 80px;
    margin-left: 14%;
}

.about-subtitle {
    font-size: 20px;
    font-weight: 30px;
}

.about-subtitle h2 {
    font-size: 16px;
    margin-top: 20px;
}

.about-description {
    font-size: 14px;
    padding-top: 20px;
    text-align: justify;
}

.about-description p {
    padding-top: 10px;
}

/* === NOT FOUND PAGE === */
.not-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 250px;
    left: 14%;
    right: 14%;
}

.not-container img {
    width: 100%;
    opacity: 0.5;
}


.not-text h1{
    font-size: 230px;
    font-weight: 240px;
    text-align: center;
    opacity: 0.6;
}

.not-text h2 {
    text-align: center;
    opacity: 0.6;
    font-size: 35px;
    font-weight: lighter;
    margin-top: -40px;

}

/* ==== RECIPES PAGE ==== */
.recipes-page {
    position: absolute;
    max-width: 72%;
    width: 100%;
    height: 400px;
    left: 14%;
    top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}