{% for user in users %}
    <div class="user">
        <div class="name">
            {{user.name}}
        </div>

        <div class="email">
            {{user.email}}
        </div>

        {% if isAdmin %}
            <div class="controls">
                <form action="/admin/users?_method=DELETE" method='POST' id="delete-user">
                    <a href="/admin/profile/{{user.id}}">Editar</a>
                    <button class="delete-user" type="submit" value={{user.id}}>Remover</button>
                    <input type="hidden" name="id" value={{user.id}}>
                </form>
            </div>
        {% endif %}
    </div>

     <script>
        const deleteForm = document.querySelector('#delete-user')
        const deleteButton = document.querySelector('form .delete-user')

        deleteButton.addEventListener('click', function(event){
            const confirmation = confirm('Deseja excluir este usuário?') // global confirmacao que retorna um boolean
            if (!confirmation){
                event.preventDefault() // cancela o submit
            }else {
                deleteForm.submit()
            }
        
        }) 
    </script>
{% endfor %}
