a {
    text-decoration: none;
    font-size: 14px;
    color: var(--primary-gray-color);

    transition: all 200ms;
}

a:hover {
    color: var(--third-gray-color);
}

h1 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

input {
    width: 100%;
    border: 1px solid var(--primary-gray-color);
    padding: 8px;
    border-radius: 4px;
}

button {
    background: var(--primary-purple-color);
    color: white;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    font-size: 14px;

    margin-right: 0px;
    cursor: pointer;

    transition: all 200ms;
}

button:hover {
    background: var(--secondary-purple-color);
}
