  @keyframes hidemessage {
    to {
        top: -50px;
        opacity: 0;
    }
}

.messages {
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    color: white;
    padding: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    animation: hidemessage 400ms 5s ease-out forwards;
    text-align: center;
}

.messages.error {
    background: red;
}

.messages.success {
    background: rgb(34, 212, 11);
}
