{% extends 'layout.njk' %}

{% block header %}
    <title>New Teacher | </title>
{% endblock %}

{% block content %}
    <section>
        <form class="card" method="POST" action="/teachers">
            {% include 'teachers/fields.njk' %}
        </form>
    </section>
{% endblock %}