/* ADMIN HEADER */
.admin-header{
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
}

.admin-header-container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.admin-header .admin-nav nav a {
    color: var(--secondary-gray-color);
    margin-left: 20px;
    font-weight: normal;
    text-transform: uppercase;

    transition: 200ms;
    font-size: 14px;
}

.admin-header .admin-nav nav a.active {
    font-weight: bolder;
    color: rgb(220, 220, 220);
}

.admin-header .admin-nav nav a:hover,
.admin-header .admin-nav nav a.active:hover
 {
    color: white;
}