.recover {
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.recover-container {
    justify-items: center;
    width: 400px;
}

.recover-container .title h1 {
    margin-top: 64px;
    font-size: 20px;
}

.recover-container .item h3 {
    margin-top: 32px;
    font-size: 15px;
    text-align: left;
}

.recover-container .item input{
    margin-top: 8px;
    width: 100%;
    border: 1px solid var(--primary-gray-color);
    padding: 8px 16px;
    border-radius: 4px;
}

form button#recover{
    position: initial;
}

.recover-container .footer-recover {
    margin-top: 16px;
    text-align: right;
}

