.sub-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.sub-header h1 {
    font-size: 24px;
}

.users {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.user .name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

.user .email {
    font-size: 14px;
    color: var(--third-gray-color);
    font-weight: 300;
}

.user .controls {
    margin-top: 16px;
    font-size: 14px;
}

.user .controls a {
    text-decoration: none;
    color: var(--primary-purple-color);
    font-weight: 500;

    transition: all 200ms;
}

.user .controls a:hover {
    color: var(--secondary-purple-color);
}

.user .controls a:last-child {
    text-decoration: none;
    color: tomato;
    font-weight: 500;
    margin-left: 8px;

    transition: all 200ms;
}

.user .controls a:last-child:hover {
    color: rgb(207, 58, 32);
}

/*FIELDS USER*/
a.cancel {
    background-color: var(--secondary-gray-color);
    color: white;

    transition: all 200ms;
}

a.cancel:hover {
    background-color: var(--third-gray-color);
}