{% include '../styles.njk' %}
{% include '../parts/messages.njk' %}

{% block head %}
    <title>Foodfy | Recuperar senha</title>
{% endblock %}

<div class="container">
    <form action="/admin/recover-password" method='POST'>
        <div class="session recover">
            <div class="recover-container">

                <div class="logo">
                    <a href="/">
                        <img src="../../../assets/logo.png" alt="Foodfy Logo">
                    </a>
                </div>

                <div class="title">
                    <h1>Esqueceu a senha?</h1>
                </div>

                <div class="item">
                    <h3>Email</h3>
                    <input 
                        type="email" 
                        name="email" 
                        placeholder='Digite seu email para recuperar sua senha' 
                        value="{{user.email}}" 
                        onblur="ValidateEmail.apply(this, 'isEmail')">
                </div>

                <div class="footer-recover">
                    <button type='submit' id="recover">Recuperar</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% include '../scripts.njk' %}
