{% extends '../layout.njk' %}

{% block head %}
    <title>Foodyfy | Chefs</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="sub-header">
            <h1>Usuários</h1>
            {% if isAdmin %}
                <button onclick="location.href='/admin/user/create'">Novo</button>
            {% endif %}
        </div>

        <div class="users">
            {% include './parts/user.njk' %}
        </div>
    </div>

{% endblock %}
