{% extends '../layout.njk' %}

{% block head %}
    <title>Foodyfy | Novo chef</title>
{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="admin-subheader">
            <div class="admin-page-title">
                <h1>Criando novo chef</h1>
            </div>
        </div>

        <form id="form-save" method="POST" action="/admin/chefs" enctype="multipart/form-data">
            <a class="save-button">Salvar chef</a>
            {% include "./fields.njk" %}
        </form>
    </div>

    <script>
        const saveForm = document.querySelector('#form-save')
        const saveButton = document.querySelector('.save-button')
        saveButton.addEventListener('click', function(event){
            saveForm.submit()
        })
    </script>
{% endblock %}