{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Chef</title>
{% endblock %}

{% block content %}

    <div class="container">

        <div class="admin-subheader">
            <div class="admin-page-title">
                
            </div>
            
            <div class="admin-subheader-links">
                <a href="{{chef.id}}/edit" class="button">Editar chef</a>
            </div>
        </div>
    
        <div class="chef-avatar">
            <img src="{{chef.photo}}" alt="Foto de {{chef._name}}">
        </div>

        <div class="chef_info">
            <h2>{{chef._name}}</h2>
            <p>{{chef.total_recipes}} receitas</p>
        </div>

        <div class="chef_recipes">

            {% if chef.recipes.length > 0 %}
                <div class="index-title">
                    <h2>Receitas por {{chef._name}}</h2>
                </div>

                <div class="chef-recipes">
                    {% for recipe in chef.recipes %}
                        {% include '../parts/recipe.njk' %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="chef-without-recipe">
                    <p>Infelizmente, este chef ainda não cadastrou nenhuma receita.</p>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}