<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Padrao</title>
        {% endblock %}
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">About</a>
                <a href="/classes">Videos</a>
            </div>
        </header>

        {% block content %}

        {% endblock %}
    

    </body>
</html>
