<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Foodfy | Login</title>
    {% endblock %}
    {% include './styles.njk' %}
</head>
<body>

    {% block content %}
        <form action="/admin/login" method='POST'>
            {% include '../parts/messages.njk' %}
            {% include './parts/fields-login.njk' %}
        </form>
    {% endblock %}

    {% include './scripts.njk' %}
</body>
</html>
