<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <title>Foodfy | Login</title>
    {% endblock %}
    {% include './styles.njk' %}
</head>
<body>

    {% block content %}
        <div class="body-content-container">
            <form action="/login" method='POST'>
                {% include '../parts/messages.njk' %}
                {% include './parts/fields-login.njk' %}
            </form>
        </div>
    {% endblock %}

    {% include './scripts.njk' %}
</body>
</html>
