{% extends './layout.njk' %}

{% block head %}
    <title>Foodfy | Login</title>
{% endblock %}

{% block content %}
    <form action="/login" method='POST'>
        {% include './parts/fields-login.njk' %}
    </form>
{% endblock %}
