{% include './layout.njk' %}

{% block head %}
    <title>Foodfy | Recuperar senha</title>
{% endblock %}

{% block content %}
    <form action="/admin/password-reset" method='POST'>
        <div class="session-login">
            <div class="recover-container">

                <div class="logo">
                    <a href="/">
                        <img src="../../../assets/logo.png" alt="Foodfy Logo">
                    </a>
                </div>

                <div class="title">
                    <h1>Nova Senha</h1>
                </div>

                <div class="item">
                    <h3>Email</h3>
                    <input type="email" name="email" placeholder='Digite seu email' value="{{user.email}}" onblur="ValidateEmail.apply(this, 'isEmail')">
                </div>

                <div class="item">
                    <h3>Nova senha</h3>
                    <input type="password" name="password" placeholder='Digite sua nova senha'>
                </div>

                <div class="item">
                    <h3>Repetir senha</h3>
                    <input type="password" name="passwordRepeat" placeholder='Repita sua nova senha'>
                </div>

                <div class="footer-recover">
                    <button type='submit'>Nova senha</button>
                </div>
            </div>
        </div>
        <input type="hidden" name="token" value="{{token}}">
    </form>
{% endblock %}
