{% extends './layout.njk' %}

{% block head %}
    <title>Foodfy | Recuperar senha</title>
{% endblock %}

{% block content %}

    <form action="/login/recover-password" method='POST'>
        
    {% include './parts/fields-reset-password.njk' %}
    
    </form>

{% endblock %}
