{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Sobre </title>
{% endblock %}

{% block content %}

    <div class="default-title">
        <h1>Sobre O Foodfy</h1>
    </div>

{% endblock %}