{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Chefs</title>
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}

    <main>

        <div class="chefs">

            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>

            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>

            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>

            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>

            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>


            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>


            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>


            <div class="chef">
                <div class="chef-photo">
                    <img src=https://images.pexels.com/photos/428333/pexels-photo-428333.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 alt="Chef photo">
                </div>

                <div class="chef-info">
                    <div class="chef-name">
                        <h2>Rafael Nunes</h2>
                    </div>

                    <div class="chef-qtt-recipes">
                        <p>3 receitas</p>
                    </div>
                </div>
            
            </div>

        </div>

    </main>


{% endblock %}