{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Bem Vindo</title>
{% endblock %}

{% block content %}

    <div class="banner">
        <div class="banner-description">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>

        <div class="banner-img">
            <img src="./assets/chef.png" alt="Img chef">
        </div>
    </div>

    <main>
        <div class="default-title">
            <h1>Mais acessadas</h1>
        </div>

        <div class="index-recipes">

            {% for recipe in recipes%}
                <div class="recipe">
                    <div class="recipe-img">
                        <img src="{{recipe.photo}}" alt="Foto de {{recipe.name}}">
                    </div>

                    <div class="recipe-name">
                        <h2>{{recipe.name}}</h2>
                    </div>

                    <div class="recipe-chef-name">
                        <p>Por {{recipe.chef_name}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
    </main>


{% endblock %}