{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Bem Vindo</title>
{% endblock %}

{% block content %}

    <div class="banner">
        <div class="banner-description">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>

        <div class="banner-img">
            <img src="./assets/chef.png" alt="Img chef">
        </div>
    </div>

    <main>
        <div class="title-index">
            <h1>Mais acessadas</h1>
        </div>

            <div class="recipe">
                <div class="recipe-img">
                    <img src="./assets/burger.png" alt="burger">
                </div>

                <div class="recipe-name">
                    <h2>Triplo bancon burguer</h2>
                </div>

                <div class="recipe-chef-name">
                    <p>Por Jorge relato</p>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img">
                    <img src="./assets/burger.png" alt="burger">
                </div>

                <div class="recipe-name">
                    <h2>Triplo bancon burguer</h2>
                </div>

                <div class="recipe-chef-name">
                    <p>Por Jorge relato</p>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img">
                    <img src="./assets/burger.png" alt="burger">
                </div>

                <div class="recipe-name">
                    <h2>Triplo bancon burguer</h2>
                </div>

                <div class="recipe-chef-name">
                    <p>Por Jorge relato</p>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img">
                    <img src="./assets/burger.png" alt="burger">
                </div>

                <div class="recipe-name">
                    <h2>Triplo bancon burguer</h2>
                </div>

                <div class="recipe-chef-name">
                    <p>Por Jorge relato</p>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img">
                    <img src="./assets/burger.png" alt="burger">
                </div>

                <div class="recipe-name">
                    <h2>Triplo bancon burguer</h2>
                </div>

                <div class="recipe-chef-name">
                    <p>Por Jorge relato</p>
                </div>
            </div>

            <div class="recipe">
                <div class="recipe-img">
                    <img src="./assets/burger.png" alt="burger">
                </div>

                <div class="recipe-name">
                    <h2>Triplo bancon burguer</h2>
                </div>

                <div class="recipe-chef-name">
                    <p>Por Jorge relato</p>
                </div>
            </div>

        </div>
    </main>


{% endblock %}