<!DOCTYPE html>
<html>
    <head>

        {% block header %}
            <title>Foodfy | Início</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">

    </head>

    <body>

        <nav>
            <div class="default_link_display">
            
                <div class="logo">
                    <a href="/">
                        <img src="./assets/logo.png" alt="Foodfy logo">
                    </a>
                </div>

                <div class="links">
                    <a href="/about">Sobre</a>
                    <a href="/recipes">Receitas</a>
                    <a href="/chefs">Chefs</a>
                </div>
            </div>

            <div class="search">
                <input 
                    type="text"
                    placeholder="Buscar uma receita">
                <button type="submit">Buscar</button>
            </div>

        </nav>

        {% block content %}
        {% endblock %}

        <script src="/scripts.js"></script>
    </body>
</html>