{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Receitas</title>
{% endblock %}

{% block content %}
    <main>

        {% if searching_subheader.header %}
            <div class="search_subheader">
                <h1>Buscando por "{{searching_subheader.header}}"</h1>
            </div>
        {% endif %}
    
        <div class="index-recipes">
            {% for recipe in recipes %}
                <div class="recipe">
                    <div class="recipe-img">
                        <a href="recipes/{{recipe.id}}"><img src="{{recipe.photo}}" alt="Foto de {{recipe.name}}"></a>
                    </div>

                    <div class="recipe-name">
                        <h2>{{recipe.name}}</h2>
                    </div>

                    <div class="recipe-chef-name">
                        <p>Por {{recipe.chef_name}}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        
    </main>

    <div class="pagination public"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

{% endblock %}