<div class="chefs">

    {% for chef in chefs %}

        <div class="chef">
            <div class="admin-chef-img">
                <img src="{{chef.chef_photo}}" alt="{{chef.chef_name}}">
            </div>

            <div class="chef-info">
                <div class="admin-chef-name">
                    <h2>{{chef.chef_name}}</h2>
                </div>

                <div class="admin-chef-view">
                    <a href="/admin/chefs/{{chef.chef_id}}">Visualizar</a>
                </div>
            </div>

        </div>
    {% endfor %}

</div>