{% extends '../layout.njk' %}

{% block header %}
    <title>Foodfy | {{chef.name}}</title>
{% endblock %}

{% block content %}

    <main>
        <div class="admin-chef">

            <div class="admin-chef-info">
                <div class="chef_photo">
                    <img src="{{chef.photo}}" alt="Foto de {{chef.name}}">
                </div>

                <div class="chef_name">
                    <h1>{{chef.name}}</h1>
                </div>

                <div class="chef_qtt_recipes">
                    <p>{{chef.total_recipes}} receitas</p>
                </div>
            </div>

            <div class="chef_recipes">
                <h1>Receitas</h1>
            </div>

            <div class="admin-chef-recipes">
                {% include '../recipes/all_recipes.njk' %}
            </div>
        </div>

    </main>

{% endblock %}