{% extends '../layout.njk' %}

{% block head %}
    <title>Foodyfy | Chefs</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="sub-header">
            <h1>Criar Usuário</h1>
            <nav>
                <a class="button" href="/admin/user/create">Salvar</a>
                <a class="button cancel" href="/admin">Cancelar</a>
            </nav>
        </div>

        <div class="user-fields">
            <div class="item">
                <h3>Nome</h3>
                <input 
                    type="text"
                    placeholder="Digite o nome completo">
            </div>
            <div class="item">
                <h3>Email</h3>
                <input 
                    type="email"
                    placeholder="Digite o email">
            </div>
        </div>

        <div class="admin-option">
            <input type="checkbox" name="admin"><strong>Administrador</strong>
        </div>
    </div>
{% endblock %}