<header>
    <div class="logo">
        <h1>Rentoor</h1>
        <h2>Easy, safe, fast</h2>
    </div>

    <div class="search">
        <input 
            type="text" 
            name="input-search"
            value="">
    </div>

    <div class="menu">
        
    </div>
</header>