<header>
    <div class="admin-header">
        <div class="admin-header-container">     
            <div class="admin-logo">
                <a href="/admin">
                    <img src="../../../assets/logo_white.png" alt="Foodfy logo">
                </a>
            </div>
            <div class="admin-nav">
                <nav>
                    <a href="/admin/recipes" class="active">Receitas</a>
                    <a href="/admin/chefs">Chefs</a>
                    <a href="/admin/users">Usuários</a>
                    <a href="admin/logout">Sair</a>
                </nav>
            </div>
        </div>
    </div>
</header>