@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-gray-color: rgb(69, 69, 69);
    --secondary-gray-color: rgb(175, 175, 175);
    --third-gray-color: rgb(125, 125, 125);
    --primary-purple-color: rgb(81, 5, 168);
    --secondary-purple-color: rgb(53, 4, 110);
    --primary-blue-color: rgb(32, 30, 204);
    --secondary-blue-color: rgb(21, 19, 126);
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background: rgb(245, 245, 245);
    color: var(--primary-gray-color);
}

/* ADMIN HEADER */
.admin-header{
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
}

.admin-header-container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.admin-header .admin-nav nav a {
    color: var(--secondary-gray-color);
    margin-left: 20px;
    font-weight: normal;
    text-transform: uppercase;

    transition: 200ms;
    font-size: 14px;
}

.admin-header .admin-nav nav a.active {
    font-weight: bolder;
    color: rgb(220, 220, 220);
}

.admin-header .admin-nav nav a:hover,
.admin-header .admin-nav nav a.active:hover
 {
    color: white;
}

/* ADMIN FOOTER */
footer {
    margin-top: auto;
}

.admin-footer-container {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.admin-footer-container p {
    font-weight: normal;
    color: var(--secondary-gray-color);
}

.main-page {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

/* ADMIN INDEX */
.admin-subheader {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.admin-subheader-links {
    display: flex;
    justify-content: flex-end;
}

a.button {
    color: var(--primary-purple-color);
    padding: 4px 8px;
    border-radius: 4px;

    border: 1px solid var(--primary-purple-color);

    transition: 200ms;
    margin-right: 8px;
} 

a.button:hover {
    background: var(--primary-purple-color);
    color: white;
}

.admin-subheader-links input {
    border: 1px solid var(--primary-purple-color);
    margin-right: 8px;
    border-radius: 10px;
    padding: 5px;
}

.admin-subheader i {
    cursor: pointer;
    color: var(--primary-purple-color);
    padding: 2px 5px;
    border-radius: 10px;

    border: 1px solid var(--primary-purple-color);
}

.admin-subheader i:hover {
    background: var(--primary-purple-color);
    color: white;
}

.admin-page-title h1 {
    font-size: 20px;
}

.admin-recipes-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.admin-recipe-preview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.admin-recipe-preview-photo img {
    width: 90%;
    transition: 200ms;
    border-radius: 10px;

    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.7);
}

.admin-recipe-preview-photo img:hover {
    filter: brightness(70%);
}

.admin-recipe-preview-title h1 {
    font-size: 16px;
    font-weight: 500;
}

.admin-recipe-preview-chef-name p {
    font-size: 12px;
    font-weight: 400;
    margin-top: 4px;
    color: var(--third-gray-color);
}

.admin-recipe-preview-link-show {
    margin-top: 20px;
}

.admin-recipe-preview-link-show a {
    font-size: 14px;
    font-weight: 400;
    color: blue;

    transition: 200ms;
}

.admin-recipe-preview-link-show a:hover {
    color: rgb(2, 2, 122);
}

.admin-pagination {
   margin-top: auto;
   padding: 20px;
   margin-left: auto;
   margin-right: auto;
}

/* ADMIN CREATE RECIPE */
form {
    position: relative;
}

form button,
.save-button {
    position: absolute;
    right: 0;
    top: -40px;

    background: var(--primary-blue-color);
    border: none;
    color: white;
    font-size: 14px;

    padding: 4px 8px;
    border-radius: 4px;

    transition: 200ms;
}

form button,
.save-button:hover {
    background: var(--secondary-blue-color);
}

form button.delete-button {
    right: 120px;
    background: orangered;
}

form button.delete-button:hover {
    background: rgb(194, 2, 2);
}

.admin-recipes-photos-preview {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 6px;
}

.photo-box-upload,
.photo-box {
    width: 150px;
    height: 150px;
    border: 1px solid var(--secondary-gray-color);

    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 200ms;
    position: relative;
}

.photo-box-upload input,
.photo-box input {
    width: 150px;
    height: 150px;
    opacity: 0;

    position: absolute;
}

.photo-box-upload:hover,
.photo-box:hover {
    box-shadow: 0px 0px 6px -2px rgba(0, 0, 0, 0.5);
}

.photo-box-upload i {
    color: var(--secondary-gray-color);
    font-size: 60px;
    font-weight: 300;
}

.photo-box i {
    position: absolute;
    color: var(--secondary-gray-color);
    font-size: 60px;
    font-weight: 300;

    width: 100%;
    height: 100%;
    border-radius: 4px;

    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.8);
    color: red;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 200ms;

    cursor: pointer;
    opacity: 0;
}

.photo-box i:hover {
    opacity: 1;
}

.photo-box img {
    height: 100%;

    object-fit: cover;
    transition: 200ms;
    overflow: hidden;
    border-radius: 4px;
}

/* ADMIN FIELDS */
.fields-input {
    margin-top: 30px;
}

.input-item {
    width: 100%;
    margin-top: 20px;
}

.input-chef-avatar {
    margin-top: 20px;
    width: 120px;
    position: relative;
}

.input-chef-avatar p {
    padding: 4px 8px;
    border-radius: 4px;
    background: var(--primary-blue-color);
    color: white;

    text-align: center;
}

.input-chef-avatar input {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;

    cursor: pointer;
}

.chef_avatar {
    width: 300px;
    height: 300px;

    margin: 20px auto;
}

.chef_avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.chef_avatar img:hover {
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.5);
}

.input-item h1 {
    font-size: 16px;
    font-weight: 400;
}

.input-item select {
    background: white;
}

.input-item input,
.input-item select {
    margin-top: 5px;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    padding: 10px;

    border: 1px solid var(--secondary-gray-color);
}

.input-item input:focus,
.input-item select:focus {
    border: 2px solid var(--primary-gray-color);
}

.input-item a {
    color: var(--primary-blue-color);
    cursor: pointer;
    margin-top: 5px;

    transition: 200ms;
}

.input-item a:hover {
    color: var(--primary-purple-color)
}

.input-item textarea {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    resize: none;
    border-radius: 4px;

    padding: 10px;

    border: 1px solid var(--secondary-gray-color);
}

.input-item textarea:focus {
    border: 2px solid var(--primary-gray-color)
}

/* ADMIN SHOW */
.gallery {
    width: 100%;
}

.gallery .highlight > img {
    width: 100%;
    height: 250px;

    /*object-fit: none;*/
    object-fit: initial;
    object-position: 50% 50%;

    border-radius: 10px;

    cursor: zoom-in;
}

.gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    width: 40%;
}

.gallery-preview img {
    height: 50px;
    width: 100%;

    border-radius: 4px;

    object-fit: cover;

    opacity: 0.6;

    cursor: pointer;

    transition: 200ms;
}

.gallery-preview img:hover,
.gallery-preview img.active {
    opacity: 1;
}

.highlight .lightbox-target {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);

    overflow: hidden;
    z-index: 100;

    top: -100%;
    left: 0;
    opacity: 0;

    transition: opacity 400ms;
}

.highlight .lightbox-target img {
    margin: auto;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

    width: 90%;
    height: 90%;

    object-fit: contain;
}