@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
    --primary-gray-color: rgb(175, 175, 175);
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* ADMIN HEADER */
.admin-header{
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
}

.admin-header-container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.admin-header .admin-nav nav a {
    color: var(--primary-gray-color);
    margin-left: 20px;
    font-weight: normal;
}

.admin-header .admin-nav nav a.active {
    font-weight: bolder;
    color: rgb(200, 200, 200);
}

.admin-header .admin-nav nav a:hover,
.admin-header .admin-nav nav a.active:hover
 {
    color: white;
}

/* ADMIN FOOTER */

footer {
    margin-top: auto;
}

.admin-footer-container {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-footer-container p {
    font-weight: normal;
    color: var(--primary-gray-color);
}

/* ADMIN PAGINATION */
.admin-pagination {
    align-self: flex-end;
}