{% extends '../layout.njk' %}

{% block header %}
    <title>Foodfy | Novo Chef</title>
{% endblock %}

{% block content %}

    <form action="/admin/chefs" method="POST">

        <div class="admin-subheader">
            <div class="default-title">
                <h1>{{pageInfo.default_title}}</h1>
            </div>

            <div class="admin-button">
                <a href="#" hidden="hidden"></a>
            </div>

            <div class="admin-button">
                <button type="submit">Salvar</button>
            </div>
        </div>

        {% include 'admin/chefs/fields.njk' %}
    </form>
{% endblock %}