<div class="fields-input">
    <div class="input-item">
        <h1>Chef</h1>
        <input 
            type="text"
            placeholder="Nome do Chef">
    </div>

    <div class="input-chef-avatar">
        <p>Enviar Avatar</p>
        <input 
            id="photos-chef_avatar-upload"
            type="file"
            name="photos"
            accept="image/*"
            onchange="PhotosUpload.addChefAvatar(event)"
            >
    </div>

    <div class="chef_avatar">
        {% for image in files %}
            <div class="photo photo-box" id={{image.id}}>
                <img 
                    src="{{image.src}}" 
                    alt="{{image.name}}">
                    <i 
                        class="material-icons"
                        onclick="PhotosUpload.removeOldPhoto(event)">close</i>
            </div>
            <input type="hidden" name="removed_files">
        {% endfor %}
    </div>
</div>