{% extends './layout.njk' %}

{% block head %}
    <title>Foodfy | Admin</title>
{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="admin-subheader">
            <div class="admin-page-title">
                <h1>Gerenciar receitas</h1>
            </div>
            
            <div class="admin-subheader-links">
                <a href="admin/recipes/create" class="button">+ Receita</a>
                <a href="admin/chefs/create" class="button">+ Chef</a>
                <input 
                    id="admin-search-input" 
                    type="hidden" 
                    name="admin-search-input"
                    placeholder="Enter para pesquisar">
                <a class="button-search">
                    <i class="material-icons">search</i>
                </a>
            </div>
        </div>

        <div class="admin-recipes-preview">
            {% include './parts/recipe.njk' %}
            {% include './parts/recipe.njk' %}
            {% include './parts/recipe.njk' %}
            {% include './parts/recipe.njk' %}
            {% include './parts/recipe.njk' %}
            {% include './parts/recipe.njk' %}
        </div>
    </div>

    {% include './parts/pagination.njk' %}
{% endblock %}