@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Righteous&display=swap');

/*
font-family: 'Righteous', cursive;
font-family: 'Jost', sans-serif;
*/

:root{
    --primary-color: rgb(58, 57, 57);
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    background: black;

    display: grid;
    grid-template-columns: 200px 1fr 200px;
}

header .logo {
    text-align: center;
}


header .logo h1 {
    font-family: 'Righteous', cursive;
    color: white;

    transition: 2ms;
}

header .logo h1:hover {
    color: rgb(240, 146, 69)
}

header .logo h2 {
    color: white;
    font-size: 15px;
    margin-top: -8px;
}

header .search {
    padding-top: 20px;
}

header .search input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background: rgb(69, 70, 69);
    padding: 10px;
    color: white;
    border: 2px solid rgb(69, 70, 69);
    outline: none;

    transition: 2ms;
}

header .search input:focus {
    border: 2px solid rgb(240, 146, 69);
}

