<div class="admin-recipes">

    {% for recipe in recipes %}

        <div class="admin-recipe">
            <div class="admin-recipe-img">
                <img src="{{recipe.photo}}" alt="{{recipe.name}}">
            </div>

            <div class="admin-recipe-info">
                <div class="admin-recipe-name">
                    <h2>{{recipe.name}}</h2>
                </div>

                <div class="admin-recipe-chef">
                    <p>Por
                        {{recipe.chef_name}}</p>
                </div>

                <div class="admin-recipe-view">
                    <a href="#">Visualizar</a>
                    <a href="#">Editar</a>
                </div>
            </div>

        </div>
    {% endfor %}

</div>