{% extends '../layout.njk' %}

{% block header %}
    <title>Foodfy | Nova receita</title>
{% endblock %}

{% block content %}

    <form action="/admin/recipes" method="POST">

        <div class="admin-subheader">
            <div class="default-title">
                <h1>{{pageInfo.default_title}}</h1>
            </div>

            <div class="admin-button">
                <a href="#" hidden="hidden"></a>
            </div>

            <div class="admin-button">
                <button type="submit">Salvar</button>
            </div>
        </div>

        {% include 'admin/recipes/fields.njk' %}

    </form>
{% endblock %}