{% extends '../layout.njk' %}

{% block header %}
    <title>Foodfy | {{recipe.name}}</title>
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
    <form action="/admin/recipes?_method=PUT" method="POST" id='form'>

        <div class="admin-subheader">
            <div class="default-title">
                <h1>Editar Receita: {{recipe.name}}</h1>
            </div>

            <div class="admin-button" id='delete'>
                <button type="submit" class='delete'>Deletar</button>
                <input type="hidden" name='id' value={{recipe.id}}>
            </div>

            <div class="admin-button" id='save'>
                <button type="submit">Salvar</button>
            </div>
        </div>

        {% include 'admin/recipes/fields.njk' %}
    </form>
{% endblock %}