{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Receitas Admin</title>
{% endblock %}

{% block content %}
    <main>
        {% include 'admin/all_recipes.njk' %}
    </main>

    <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>
{% endblock %}