<div class="admin-recipe-preview-container">
    <div class="admin-recipe-preview-photo">
        <img src="../assets/burger.png" alt="burger-photo">
    </div>

    <div class="admin-recipe-info">
        <div class="admin-recipe-preview-title">
            <h1>Triplo Bacon Burguer</h1>
        </div>
        <div class="admin-recipe-preview-chef-name">
            <p>Por Juliano Relato</p>
        </div>
        <div class="admin-recipe-preview-link-show">
            <a href="#">Visualizar</a>
        </div>
    </div>

</div>