
<div class="admin-recipe-preview-container">
    <div class="admin-recipe-preview-photo">
        <img 
            src="{{recipe.recipe_path}}" 
            alt="Foto de {{recipe.recipe_name}}">
    </div>

    <div class="admin-recipe-info">
        <div class="admin-recipe-preview-title">
            <h1>{{recipe.recipe_name}}</h1>
        </div>
        <div class="admin-recipe-preview-chef-name">
            <p>Por {{recipe.chef_name}}</p>
        </div>
        <div class="admin-recipe-preview-link-show">
            <a href="/admin/recipes/{{recipe.recipe_id}}">Visualizar</a>
        </div>
    </div>

</div>
