{% extends "layout.njk" %}

{% block head %}
<title>Not-Found</title>
{% endblock %}

{% block content %}
    <div class="not-found">
        <div class="box-not">
            <div class="not-img">
                <img src="./img/not-found.jpeg" alt="astronalta">
            </div>

            <div class="not-text">
                <h1>Not Found</h1>
            </div>
        </div>
    </div>
{% endblock %}}