{% for user in users %}
    <div class="user">
        <div class="name">
            {{user.name}}
        </div>

        <div class="email">
            {{user.email}}
        </div>

        <div class="controls">
            <a href="/admin/profile/{{user.id}}">Editar</a>
            <a href="">Remover</a>
        </div>
    </div>
{% endfor %}
