<div class="user">
    <div class="name">
        Rafael Nunes
    </div>

    <div class="email">
        rafaelemail@email.com
    </div>

    <div class="controls">
        <a href="#">Editar</a>
        <a href="">Remover</a>
    </div>
</div>