{% extends 'layout.njk' %}

{% block content %}

    <div class="card">
        <section>
            <form class="form-edit" method="POST" action="/teachers?_method=PUT">
                {% include 'teachers/fields.njk' %}
                <input type="hidden" name="id" value={{ teacher.id }}>
            </form>

            <form class="form-delete" action="/teachers?_method=DELETE" method="POST">
                <input type="hidden" name="id" value={{ teacher.id }}>
                <button class="delete_button" type='submit'>Deletar</button>
            </form>
        </section>
    </div>

{% endblock %}