{% extends "layout.njk" %}

{% block head %}
    <title>Conteudo - Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}

        <section class="box-courses">
                <div class="box-course" id={{item.id}}>
                    <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
                </div>
        </section>
    
{% endblock %}
