<div class="field-component">
    <div class="field-title">
        <h1>Nome</h1>
    </div>

    <div class="field-input">
        <div class="field-chef-name">
            <input 
                type="text" 
                name="chef_name" 
                placeholder="Nome completo"
                value = {{chef.name}}>
        </div>
    </div>
</div>

<div class="field-component">
    <div class="field-title">
        <h1>Avatar</h1>
    </div>

    <div class="field-input">
        <div class="field-chef-avatar">
            <input 
                type="url" 
                name="chef_avatar" 
                placeholder="https://"
                value= {{chef.avatar_url}}>
        </div>
    </div>
</div>