<div class="recipe-fields">

    <div class="field-component">
        <div class="field-title">
            <h1>Chef</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-name">
                <input 
                    type="text">
            </div>
        </div>
    </div>
    
    
    <div class="field-component">
        <div class="field-title">
            <h1>Nome da receita</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-name">
                <input 
                    type="text">
            </div>
        </div>
    </div>

    <div class="field-component">
        <div class="field-title">
            <h1>Ingredientes</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-ingredient">
                <input 
                    type="text">
            </div>
        </div>

        <div class="add-field">
            <a href='#'>Adicionar novo ingrediente</a>
        </div>
    </div>

    <div class="field-component">
        <div class="field-title">
            <h1>Modo de preparo</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-steps">
                <input 
                    type="text">
            </div>
        </div>

        <div class="add-field">
            <a href='#'>Adicionar novo passo</a>
        </div>
    </div>

    <div class="field-component">
        <div class="field-title">
            <h1>Informaçōes adicionais</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-additional-info">
                <textarea 
                    name="additional-info"
                    cols="30" 
                    rows="10"></textarea>
            </div>
        </div>
    </div>

</div>