<div class="recipe-fields">

    <div class="field-component">
        <div class="field-title">
            <h1>Chef</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-chef">
                <select name="">
                    <option value="">Rafael Nunes</option>
                    <option value="">Helena Lima</option>
                </select>
        </div>
    </div>
    
    
    <div class="field-component">
        <div class="field-title">
            <h1>Nome da receita</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-name">
                <input 
                    type="text">
            </div>
        </div>
    </div>

    <div class="field-component">
        <div class="field-title">
            <h1>Ingredientes</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-ingredient">
                <input 
                    type="text"
                    name='ingredient'>
            </div>
        </div>

        <div class="add-field">
            <button type='button' class='add-ingredient'>Adicionar novo ingrediente</button>
        </div>
    </div>

    <div class="field-component">
        <div class="field-title">
            <h1>Modo de preparo</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-step">
                <input 
                    type="text"
                    name='step'>
            </div>
        </div>

        <div class="add-field">
            <button type='button' class='add-step'>Adicionar novo passo</button>
        </div>
    </div>

    <div class="field-component">
        <div class="field-title">
            <h1>Informaçōes adicionais</h1>
        </div>

        <div class="field-input">
            <div class="field-recipe-additional-info">
                <textarea 
                    name="additional-info"
                    cols="30" 
                    rows="10"></textarea>
            </div>
        </div>
    </div>

</div>