{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Admin</title>
{% endblock %}

{% block content %}

    <main>
        {% include 'admin/all_recipes.njk' %}
    </main>

{% endblock %}