{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Admin</title>
{% endblock %}

{% block content %}

    <main>

        <div class="admin-recipes">

            <div class="admin-recipe">

                <div class="admin-recipe-img">
                    <img src="./assets/burger.png" alt="burger foto">
                </div>

                <div class="admin-recipe-info">
                    <div class="admin-recipe-name">
                        <h2>Triplo bancon burguer</h2>
                    </div>

                    <div class="admin-recipe-chef">
                        <p>Por Jorge relato</p>
                    </div>

                    <div class="admin-recipe-view">
                        <a href="#">Visualizar</a>
                    </div>
                
                </div>

            </div>

            <div class="admin-recipe">

                <div class="admin-recipe-img">
                    <img src="./assets/burger.png" alt="burger foto">
                </div>

                <div class="admin-recipe-info">
                    <div class="admin-recipe-name">
                        <h2>Triplo bancon burguer</h2>
                    </div>

                    <div class="admin-recipe-chef">
                        <p>Por Jorge relato</p>
                    </div>

                    <div class="admin-recipe-view">
                        <a href="#">Visualizar</a>
                    </div>
                
                </div>

            </div>

            <div class="admin-recipe">

                <div class="admin-recipe-img">
                    <img src="./assets/burger.png" alt="burger foto">
                </div>

                <div class="admin-recipe-info">
                    <div class="admin-recipe-name">
                        <h2>Triplo bancon burguer</h2>
                    </div>

                    <div class="admin-recipe-chef">
                        <p>Por Jorge relato</p>
                    </div>

                    <div class="admin-recipe-view">
                        <a href="#">Visualizar</a>
                    </div>
                
                </div>

            </div>

            <div class="admin-recipe">

                <div class="admin-recipe-img">
                    <img src="./assets/burger.png" alt="burger foto">
                </div>

                <div class="admin-recipe-info">
                    <div class="admin-recipe-name">
                        <h2>Triplo bancon burguer</h2>
                    </div>

                    <div class="admin-recipe-chef">
                        <p>Por Jorge relato</p>
                    </div>

                    <div class="admin-recipe-view">
                        <a href="#">Visualizar</a>
                    </div>
                
                </div>

            </div>


        </div>

    </main>

{% endblock %}