<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>Foodfy | Admin </title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/admin">
                    <img src="../assets/logo_white.png" alt="Foodfy logo">
                </a>

                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </header>

        <div class="body-content">

            <div class="admin-subheader">
                <div class="default-title">
                    <h1>{{pageInfo.default_title}}</h1>
                </div>

                {% if pageInfo.second_button %}
                    <div class="admin-button">
                        <a href="{{pageInfo.first_button.link}}">{{pageInfo.first_button.description}}</a>
                    </div>

                    <div class="admin-button">
                        <a href="{{pageInfo.second_button.link}}">{{pageInfo.second_button.description}}</a>
                    </div>
                {% else %}
                    <div class="admin-button">
                        <a href="#" hidden></a>
                    </div>

                    <div class="admin-button">
                        <a href="{{pageInfo.first_button.link}}">{{pageInfo.first_button.description}}</a>
                    </div>
                {% endif %}

            </div>
            
            {% block content %}
            {% endblock %}
        </div>

        <script src="/scripts.js"></script>
    </body>

</html>