<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>Foodfy | Admin </title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/admin">
                    <img src="../../assets/logo_white.png" alt="Foodfy logo">
                </a>

                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>

                {% block search %}
                    <form class="form-admin" action="/admin" method="GET">
                        <input 
                            type="text"
                            placeholder="Buscar por receita ou chef"
                            name="filter"
                            value={{filter}}>
                        <button type="submit">Filtrar</button>
                    </form>
                {% endblock %}
            </div>
        </header>

        <div class="body-content">

            {% if pageInfo.first_button %}
                {% include './subheader.njk' %}
            {% endif %}
            
            {% block content %}

            {% endblock %}
        </div>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        ></div>

        <script src="/scripts.js"></script>
    </body>

</html>