<!DOCTYPE html>
<html>
    <head>
        {% block header %}
            <title>Foodfy | Admin </title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <header>
            <div class="links">
                <a href="/admin">
                    <img src="../assets/logo_white.png" alt="Foodfy logo">
                </a>

                <a href="/admin/recipes">Receitas</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
        </header>

        <div class="body-content">

            <div class="admin-subheader">
                <div class="default-title">
                    <h1>Gerenciar receitas</h1>
                </div>

                <div class="add-button">
                    <a href="/admin/chefs/new_chef">Add chef</a>
                </div>

                <div class="add-button">
                    <a href="/admin/recipes/create">Add receita</a>
                </div>

            </div>
            
            {% block content %}
            {% endblock %}
        </div>

        <script src="/scripts.js"></script>
    </body>

</html>