{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Novo Chef</title>
{% endblock %}

{% block content %}

    <form action="/admin" method="POST">

        <div class="admin-button">
            <a href="{{pageInfo.save_button.link}}">{{pageInfo.save_button.description}}</a>
        </div>

        <div class="field-component">
            <div class="field-title">
                <h1>Nome</h1>
            </div>

            <div class="field-input">
                <div class="field-chef-name">
                    <input 
                        type="text">
                </div>
            </div>
        </div>

        <div class="field-component">
            <div class="field-title">
                <h1>Avatar</h1>
            </div>

            <div class="field-input">
                <div class="field-chef-avatar">
                    <input 
                        type="text">
                </div>
            </div>
        </div>
    </form>
{% endblock %}