{% extends './layout.njk' %}

{% block header %}
    <title>Foodfy | Novo Chef</title>
{% endblock %}

{% block content %}

    <form action="/admin" method="POST">

        <div class="admin-subheader">
            <div class="default-title">
                <h1>{{pageInfo.default_title}}</h1>
            </div>

            <div class="admin-button">
                <a href="#" hidden="hidden"></a>
            </div>

            <div class="admin-button">
                <button type="submit">Salvar</button>
            </div>
        </div>

        <div class="field-component">
            <div class="field-title">
                <h1>Nome</h1>
            </div>

            <div class="field-input">
                <div class="field-chef-name">
                    <input 
                        type="text"
                        name="chef_name"
                        placeholder="Nome completo">
                </div>
            </div>
        </div>

        <div class="field-component">
            <div class="field-title">
                <h1>Avatar</h1>
            </div>

            <div class="field-input">
                <div class="field-chef-avatar">
                    <input 
                        type="url"
                        name="chef_avatar"
                        placeholder="https://">
                </div>
            </div>
        </div>
    </form>
{% endblock %}