{% extends '../layout.njk' %}

{% block head %}
    <title>Foodfy | Chefs</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="admin-subheader">
            <div class="admin-page-title">
                <h1>Chefs</h1>
            </div>
            
            <div class="admin-subheader-links">
                {% if isAdmin %}
                    <button onclick="location.href='/admin/chefs/create'" class="addChef">+ Chef</button>
                {% endif %}
            </div>
        </div>
        <div class="show-chefs">
            {% include './parts/chef.njk' %}
        </div>
    </div>
{% endblock %}