{% extends 'layout.njk' %}

{% block header %}
    <title>New Student | </title>
{% endblock %}

{% block content %}
    <section class='create'>
        <form class="card" method="POST" action="/students">
            {% include 'students/fields.njk' %}
        </form>
    </section>
{% endblock %}