{% extends 'layout.njk' %}

{% block content %}

    <div class="card">
            <form class="form-edit" method="POST" action="/students?_method=PUT">
                {% include 'students/fields.njk' %}
                <input type="hidden" name="id" value={{ student.id }}>
            </form>

            <form class="form-delete" action="/students?_method=DELETE" method="POST">
                <input type="hidden" name="id" value={{ student.id }}>
                <button class="delete_button" type='submit'>Deletar</button>
            </form>
    </div>

{% endblock %}