{% extends 'layout.njk' %}

{% block header %}
    <title>Homepage |</title>
{% endblock %}

{% block content %}
    <div class="card table-container">
        <div class="header">
            <div class="create">
                <a href="/students/create">Novo</a>
            </div>

            <form action="/students" method="GET">
                <input type="text"
                       name="filter"
                       placeholder="Nome ou email"
                       value={{filter}}>
                <button type="submit">Filtrar</button>
            </form>
    
        </div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Nome Completo</th>
                    <th>Acompanhamento</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{ student.avatar_url }})"></span>
                        </td>
                        <td>{{ student.name }}</td>
                        <td>{{ student.lectures }}</td>
                        <td><a href="/students/{{ student.id }}">ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}>
        </div>

    </div>
{% endblock %}