{% extends 'layout.njk' %}

{% block header %}
    <title>Homepage |</title>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="avatar">
            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="profile photo">
        </div>

        <div class="introduction">
            <h3>Sobre</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione consequatur inventore consectetur enim obcaecati, placeat hic tempore incidunt pariatur autem sit, voluptates ex iure nesciunt accusantium rerum magnam alias suscipit?</p>
        </div>

        <div class="personal_info">
            <div class="item">
                <div class="name">
                    <h3>Nome</h3>
                    <div>Rafael Nunes</div>
                </div>
            </div>

            <div class="item">
                <div class="age">
                    <h3>Idade</h3>
                    <div>29 anos</div>
                </div>
            </div>

            <div class="item">
                <div class="education">
                    <h3>Escolaridade</h3>
                    <div>Ensino Medio Completo</div>
                </div>
            </div>

            <div class="item">
                <div class="class_type">
                    <h3>Tipo de Aula</h3>
                    <div>EAD</div>
                </div>
            </div>

            <div class="item">
                <div class="lectures">
                    <h3>Area de Atuaçao</h3>
                    <div>Matematica</div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}