:root {
    --border-color: rgb(53, 44, 75);
}


*{
    margin: 0;
    padding: 0;
}

body {
    background: rgb(116, 87, 191);
    font-family: 'Roboto', sans-serif;
    color: white;
}

header {
    text-align: center;
    background: rgba(0, 0, 0, 0.226);
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
}

header div a {
    color: white;
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    margin: 0 30px;
}

header div a:hover{
    color: rgb(55, 206, 50);
    transition: color 200ms;
}

/* === SOBRE */
body .wrapper {
    text-align: center;
    padding: 32px;
}

body .wrapper img {
    border-radius: 50%;
}

body .wrapper .info{
    padding: 30px;
    max-width: 50%;
    margin: 0 auto;
}

body .wrapper h1 {
    font-weight: bold;
}

body .wrapper #info {
    padding: 20px;
    font-size: 15px;
    font-weight: lighter;
}

body .wrapper .techs {
    font-size: 20px;
    font-weight: bolder;
}

body .wrapper ul {
    padding: 10px;
    font-size: 15px;
}

ul {
    list-style-type: none;
}

body .social_medias {
    text-align: center;
}

body .social_medias a {
    text-decoration: none;
    color: white;
    margin: 0 30px;
    border-bottom: 2px solid rgb(55, 206, 50);
}

body .social_medias a:hover{
    color: rgb(55, 206, 50);
    transition: color 200ms;
}

/* === CONTEUDO === */
.cursos {
    padding-top: 30px;
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 70vh;
    text-align: center;
}

.curso {
    background-color: rgb(63, 63, 63);
    border-radius: 100px;
    border: 2px solid rgb(190, 190, 190);
}

.curso:hover {
    background-color: rgb(43, 43, 43);
    border-radius: 100px;
    border: 4px solid rgb(63, 224, 23);
}

.curso_photo img {
    width: 90%;
    padding-top: 20px;
    width: 80%;
}

.logo_grande {
    max-width: 65%;
    margin: 0 auto;
}

.curso_info {
    padding: 32px;
    font-weight: bolder;
}

.modulo{
    padding: 10px;
}

.price {
    background-color: rgba(0,0,0,0.2);
    max-width: 90%;
    margin: 0 auto;
    border-radius: 10%;
}

.price p {
    margin-top: 10vh;
}

/* === MODAL === */
.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal .maximize{
    color: black;
    position: absolute;
    right: 35px;
    top: 8px;
    cursor: pointer;
}
/* === MODAL.ACTIVE === */
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

.modal.max {
    background-color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 0;
}

/* === NOT-FOUND === */
.box-not {
    margin: 0 auto;
    background-color: rgb(244, 242, 243);
    width: 100%;
}

.not-img img{
    position: relative;
    max-height: 90vh;
}


.box-not h1 {
    position: absolute;
    color: rgb(170, 170, 170);
    left: 55%;
    top: 50%;
    font-size: 100px;
}



