/* fe5f55-12355b-420039-f7fff7-eef5db */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700&display=swap');

:root {
    --orange-color: #fe5f55;
    --blue-color: rgb(18, 52, 89);
    --purple-color: #420039;
    --cream-color: #f7fff7;
    --gold-color: #eef5db;
}

* {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    font-family: 'Quicksand', sans-serif;
    max-width: 100%;
}

header {
    background-color: var(--blue-color);
    width: 100%;
    padding: 32px;
    text-align: center;
    box-shadow: 0px 10px 0px 0px var(--orange-color);
    box-sizing: border-box;

    animation-name: header-box;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
}

@keyframes header-box {
    from{
        box-shadow: 0px 0px 0px 0px var(--orange-color);
    }
    to {
        box-shadow: 0px 10px 0px 0px var(--orange-color);
    }
}


.links {
    font-size: 22px;
    font-weight: bolder;
}

.links a + a {
    margin-left: 32px;
}

.links a {
    text-decoration: none;
    color: white;
    position: relative;
}

.links a.active {
     color: var(--gold-color);
}

.links a:hover {
    color: var(--orange-color);
}

.links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    background-color: white;
}

.links a:hover::after {
    width: 100%;
    background-color: var(--orange-color);
    transition: all 700ms cubic-bezier(0.42, 0, 1.0, 1.0);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--gold-color);
    padding: 16px;
    width: 100%;
}

footer p {
    text-align: center;
    color: #949494;
}

/* === INDEX === */
.card {
    width: 60%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border: 2px solid var(--blue-color);
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 5px rgba(18, 53, 91, 0.7);
    display: grid;
    grid-template-columns: 1fr 1fr;

    animation-name: box-up;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
}

@keyframes box-up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
    }
}

.avatar{
    background: url("https://source.unsplash.com/collection/489203/500x500") no-repeat;
    width: calc(100% - 1px);
    height: calc(100% - 1px);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: relative;
}

.details {
    padding: 32px;
}

h3 {
    color: rgb(9, 34, 61);
}

.details .item {
    border: 1px solid rgba(18, 53, 91, 0.7);
    border-radius: 4px;
    border-right: 6px solid  rgba(18, 53, 91, 0.7);
    border-left: 6px solid  rgba(18, 53, 91, 0.7);
    margin-top: 10px;
}

.item div {
    padding: 4px;
    color: rgb(9, 34, 61);
}

.item div:nth-child(2) {
    background:  rgba(18, 53, 91, 0.1);
    border-radius: 4px;
    font-weight: bold;
    color: rgb(18, 35, 91);
}

span {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(18, 53, 91, 0.7);
    color: white;
    border-radius: 5px;
}

/*=== CREATE ====*/
.user-input input{
    font-size: 12px;
    width: 95%;
    border-radius: 5px;
    padding: 3px;
}

.user-input input[type="date"]{
    width: initial;
}

.save {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.save p {
    margin: auto;
    font-size: 11px;
    color: rgb(102, 102, 102);
    text-align: justify;
}

button {
    background-color: var(--orange-color);
    padding: 7px 20px;
    border-radius: 8px;
    margin-top: 10px;
    color: white;
    font-size: 15px;
}

button:hover {
    background: #fa3f31;
}

