/* ADMIN FOOTER */
.admin-footer-container {
    width: 100%;
    height: 60px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.admin-footer-container p {
    font-weight: normal;
    color: var(--secondary-gray-color);
}