
.admin-recipes-preview {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.admin-recipe-preview-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;
}

.admin-recipe-preview-photo img {
    width: 90%;
    transition: 200ms;
    border-radius: 10px;

    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.7);

    transition: all 200ms;
}

.admin-recipe-preview-photo img:hover {
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.9);
}

.admin-recipe-info {
    display: flex;
    flex-direction: column;
}

.admin-recipe-preview-title h1 {
    font-size: 16px;
    font-weight: bold;
}

.recipe-chef-name p {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
    color: var(--third-gray-color);
}

.admin-recipe-preview-link-show {
    margin-top: 30px;
}

.admin-recipe-preview-link-show a {
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-blue-color);

    transition: all 200ms;
}

.admin-recipe-preview-link-show a:hover {
    text-decoration: underline;
}