{% extends 'layout.njk' %}

{% block head %}
    <title>New Teacher</title>
{% endblock %}

{% block content %}
    <form class="card" method="POST" action="/teachers">
        <section class="avatar"></section>
        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div class="name">
                    <div>Nome</div>
                    <div class="user-input"><input type="text" name="name" placeholder="Nome completo"></div>
                </div>
            </div>
            <div class="item">
                <div class="birth">
                    <div>Data de Nascimento</div>
                    <div class="user-input"><input type="date" name="birth"></div>
                </div>
            </div>

            <div class="item">
                <div class="education">
                    <div>Escolaridade</div>
                    <div class="user-input">
                        <select name="education">
                            <option value="secondary_education">Ensino Médio Completo</option>
                            <option value="graduate">Ensino Superior Completo</option>
                            <option value="post_graduate">Mestrado</option>
                            <option value="doctorate">Doutorado</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="class-type">
                    <div>Tipo de Aula</div>
                    <div class="user-input">
                        <select name="class_type">
                            <option value="presential">Presencial</option>
                            <option value="ead">A Distância</option>
                            <option value="presential_ead">Presencial / A Distância</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="lectures">
                    <div>Área de Atuação</div>
                    <div class="user-input">
                        <input type="text" name="lectures" placeholder="Informe as matérias e separe-as por vírgulas">
                    </div>
                </div>
            </div>
            <div class="save">
                <p>Obrigatório o preenchimento de todos os campos.</p>
                <button type="submit" disabled>Salvar</button> 
            </div>    
        </section>
    </form>

{% endblock %}