{% extends 'layout.njk' %}

{% block content %}

    {% for item in teacher %}
        <div class="cards">
            <div class="card">
                <section class="avatar"></section>
                <section class="details">
                    <h3>Detalhes</h3>

                    <div class="item">
                        <div class="nome">
                            <div>Nome</div>
                            <div>{{ item.name }}</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="birth">
                            <div>Data de Nascimento</div>
                            <div>{{ item.birth }}</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="education">
                            <div>Escolaridade</div>
                            <div>{{item.education}}</div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="class-type">
                            <div>Tipo de Aula</div>
                            <div>
                                <span>Presencial</span>
                                <span>A Distancia</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="lectures">
                            <div>Área de Atuação</div>
                            <div>
                                <span>{{item.lectures}}</span>
                            </div>
                        </div>
                    </div>    
                </section>
            </div>
        </div>
    {% endfor %}
{% endblock %}