{%extends 'layout.njk'%}

{%block head%}
    <title>Ops</title>
{%endblock%}

{%block content%}
    <div class="not_filled_container">
    <h1>Ops</h1>
    <h3>Parece que você esqueceu de preencher alguma informação.</h3>
    <h6>Por favor, volte a página anterior e preencha todos os campos.</h6>
    </div>
    
{%endblock%}