{%extends 'layout.njk'%}

{%block head%}
    <title>Ops</title>
{%endblock%}

{%block content%}
    <div class="not_found">
        <h1>404</h1>
        <h3>NOT FOUND</h3>
    </div>
    <h6>Parece que a página que você está procurando não existe.</h6>
    
{%endblock%}