<!DOCTYPE html>
<html>
<head>

    {% block head %}  
        <title>Foodfy | Index</title>
    {% endblock%}

    {% include './styles.njk' %}
</head>
<body>

       <div class="container"> 
            {% include './parts/header.njk' %}

            {% block content %}

            {% endblock %}

        </div>

        {% include './parts/footer.njk' %}

        <script src="/scripts.js"></script>
</body>
</html>