{% extends 'admin_layout.njk' %}

{% block content %}
    <header class='admin_header'>
        <a href="#">
            <img src="../assets/logo_white.png" alt="Logo Foodfy">
        </a>
    </header>

    <main>
        <h1>Gerenciar receitas</h1>
        <div class="admin_recipes">
            {% for recipe in recipes %}
                <div class="recipe_admin" 
                    id={{loop.index}}>

                    <div class="image_recipe_admin">
                       <img src="{{recipe.image}}" 
                            alt="{{recipe.title}}"> 
                    </div>

                    <div class="description_recipe_admin">
                        {{ recipe.title }}
                    </div>

                    <div class="author_admin">
                        por {{recipe.author}}
                    </div>

                    <div class="edit-admin">
                        <a href="#">Editar</a>
                    </div>
                
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}

 <div class="recipe" id='{{loop.index}}'>
                    <div class="image_recipe">
                        <img src="{{rec.image}}" alt="Image of {{rec.title}}">
                    </div>
                    <div class="description_recipe">
                        <p>{{rec.title}}</p>
                    </div>
                    <div class="author">
                        por {{rec.author}}
                    </div>
                </div>
