{% extends 'admin_layout.njk' %}

{% block content %}

    <div class="submenu_edit">
        <h1>Criando nova receita</h1>
    </div> 

    <form method='POST' action="/admin/recipes">
        <div class="save_form">
            <button type='submit'>Salvar receita</button>

            {% include 'admin/fields.njk' %}

        </div>
    </form>


{% endblock %}
