{% extends 'admin_layout.njk' %}

{% block content %}

    <div class="submenu_edit">
        <h1>Editando receita</h1>
        <div class="links">
            <form id='form-delete' method ='POST' action='/recipes?_method=DELETE'>
                <button type='submit'>Deletar</button>
            </form>
            <button type='submit'>Salvar receita</button>
        </div>
    </div>


{% endblock %}