{% extends 'admin_layout.njk' %}

{% block content %}
    <header class='admin_header'>
        <a href="index">
            <img src="../assets/logo_white.png" alt="Logo Foodfy">
        </a>
    </header>

    <main>
        <h1>Gerenciar receitas</h1>
        <div class="admin_recipes">
            
        </div>
    </main>
{% endblock %}